*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

 /* Homepage:
Projects i dugme ce biti flexovani sa strane
Add project ce biti promenjen u New Project

Svaki projekat bi trebao da bude uokviren
Naslov projekta ce biti u sredini i desno ce biti tri dugmeta koji ce u stvari biti +, Kanta, i nesto za edit
Dodati sort u okviru svakog projekta, moci ce se sortirati po prioritetu i po vremenu

Svaki task ce imati drugaciju boju u zavisnosti od prioriteta
Naslov ce biti centralno postavljen, skroz desno dva dugmeta
levo od naslova treba da bude checkbox za stikliranje da li je izvrsen task ili ne
Ispod njega datum, klikom na datum treba da se prikaze za koliko istice vreme Task-a / da se togluje
 */